[Desktop Entry]
Name=Bmoji
Comment=A simple emoji picker
Type=Application
# should be the same as the Cargo project name
Exec=bmoji
Terminal=false
Categories=Utility;
Keywords=Emoji;
Icon=io.github.sheosi.bmoji
StartupNotify=true
